/**
 * font definition
 * Source : https://www.dafont.com/3dumb-2dumb.font
 * Seems to be free for non-commercial use
 */
  @font-face {
    font-family: '3Dumb';
    src: url('../media/3Dumb.ttf');
}


/**
 * Other CSS stuff
 */
* {
    margin: 0;
    padding: 0;
}

body {
   text-align        : center;
   color: black;
}

h1 {
   color: #000;
}

p {
   color: black;
   margin:           auto;
}


input[type="button"] {
   width: 100px;
   height: 50px;
}

.v0 { color: #f8f; }
.v1 { color: #00f; }
.v2 { color: #0f0; }
.v3 { color: #f00; }
.v4 { color: #088; }
.v5 { color: #880; }
.v6 { color: #808; }
.v7 { color: #000; }
.v8 { color: #888; }

.cell {
    width:            32px;
    height:           32px; 
}

.c000, .c001, .c010, .c011, .c100, .c101, .c110, .c111 {
   display:          inline-block;
   margin:           0px;
   padding:          0px;
   text-decoration:  none;
   font-weight:      bold;
   font-weight:      bold;
   text-align:       center;
   background-color: #c8d0ec;
}


.c000 /* empty */ {
   background-image: url('../img/hidden.png');
   background-size: 100% 100%;
}

.c100 /* mine */ {
   background-image: url('../img/hidden.png');
   background-size: 100% 100%;
}

.c001 /* digged */ {
   font-weight: bold;
   text-align: center;
   background-size: 100% 100%;
}

.c010, .c110 /* flag */ {
   font-weight: bold;
   background-image: url('../img/flag.png');
   background-size: 100% 100%;
}

.c011 { /* flag digged*/
   background-image: url('../img/flag.png');
   background-size: 100% 100%;
}

.c101 { /* mine digged */
   background-image: url('../img/mine.png');
   background-size: 100% 100%;
   background-color: #f00;
}

/* Portrait */
@media screen and (orientation:portrait) {
    #container {
        display: flex;
        flex-direction: column;
        background-color: #ddf;
        width:  1680px;
        height: 1050px;
    }

    #tools {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        margin: 0;
        background-color: rgba(128,128,128, 0.5);
    }

    #terrain, #overlay {
        /*position: relative;*/
        width: 100%;
        height: 89%;
        text-align: left;
        margin: auto;
        padding: 0;
        background-color: rgba(128,192,128, 0.5);
    }
}


/* Landscape */
@media screen and (orientation:landscape) {

    #container {
        display: flex;
        flex-direction: row;
        background-color: #fdd;
        width:  1050px;
        height: 1680px;
        margin: auto;
    }

    #tools {
        width: 10%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        display: flex;
        flex-direction: column;
        background-color: rgba(128,128,128, 0.5);
    }

    #terrain, #overlay{
        /*position: relative;*/
        width: 89%;
        height: 100%;
        text-align: left;
        margin: auto;
        padding: 0;
        background-color: rgba(128,192,128, 0.5);
    }
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0, 0.90);
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
    font-family: '3Dumb';
    font-weight: bolder;
    color: white;
}

#overlay p {
    color: white;
}
